* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/ttf/montserrat-regular.ttf) format("truetype");
}
body {
  font-family: "Montserrat";
}

body {
  background: rgb(255, 255, 255);
}

header nav {
  font-family: Montserrat;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.container, .products, .technology, .technology__title, .title, .titles, .main, .form, .footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: radial-gradient(at center center, rgb(72, 72, 72) 0%, rgb(0, 0, 0) 100%) !important;
  padding: 5px 10px;
}

#btn_menu {
  display: none;
}

header label {
  display: none;
  width: 1.87em;
  padding: 0, 937em;
  height: 1, 87em;
  position: fixed;
}

header label:hover {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .logonav {
    display: flex;
    justify-content: end;
    margin-top: 30px;
  }
  header li {
    display: inline-flex;
    padding-left: 10px;
  }
}
@media (max-width: 1200px) {
  .logonav {
    display: flex;
    justify-content: end;
    margin-top: 30px;
  }
  header li {
    display: inline-flex;
    padding-left: 10px;
  }
}
@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  header label {
    display: block;
    position: relative;
    top: 70px;
  }
  .menu {
    position: absolute;
    top: 125px;
    right: -10px;
    background: radial-gradient(at center center, rgb(72, 72, 72) 0%, rgb(0, 0, 0) 100%) !important;
    width: 11.25em;
    margin-right: -11.25em;
    padding-top: 10px;
    padding-right: 20px;
    transition: all 0.5s;
    z-index: 1;
  }
  #btn_menu:checked ~ .menu {
    margin: 0;
  }
}
@media (max-width: 320px) {
  header label {
    display: block;
    position: relative;
    right: 60px;
    top: 90px;
  }
}
.footer {
  background: radial-gradient(at center center, rgb(72, 72, 72) 0%, rgb(0, 0, 0) 100%) !important;
  height: 500px;
  padding-left: 5px;
}
.footer__logo {
  margin: 20px;
  padding-top: 20px;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.information__icon {
  display: block;
}
.information__networks {
  display: inline;
  position: relative;
  bottom: 30px;
  left: 43px;
  color: white;
}
.information__title {
  font-size: 22px;
  color: white;
  padding: 15px 0;
}
.information__description {
  display: block;
  color: white;
  font-size: 15px;
}

@media (max-width: 770px) {
  .footer {
    height: 900px;
  }
  .footer__container {
    grid-template-columns: 1fr;
  }
  .information__networks {
    display: inline;
    position: relative;
    bottom: 30px;
    left: 43px;
    color: white;
  }
}
@media (max-width: 320px) {
  .footer {
    height: auto;
    padding: 20px;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .information {
    text-align: center;
    margin-bottom: 20px;
  }
  .information__icon {
    margin: 0 auto;
  }
  .information__networks {
    position: static;
    margin-top: 10px;
  }
}
.whatsapp_icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.form {
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 5px;
}
.form__title {
  font-size: 22px;
  font-weight: bold;
  color: #3f4243;
}
.form__email {
  width: 400px;
  text-decoration: none;
  padding: 2px 1px;
  border: 2px solid black;
  border-radius: 5px;
  outline: 0;
  padding-left: 5px;
  margin-bottom: 10px;
}
.form input:hover {
  border: 2px solid #0966d3;
  transition: all 0.5s;
}
.form button {
  border: none;
  font-weight: bold;
  background-color: white;
  letter-spacing: 1px;
  padding: 2px 1px;
  border-radius: 5px;
  border: 2px solid #0966d3;
  width: 150px;
  outline: 0;
}

@media (max-width: 768px) {
  .form__email {
    width: 330px;
  }
}
@media (max-width: 320px) {
  .applicattion__data {
    width: 300px;
  }
}
.main__contenedor-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__contenedor-information {
  font-size: 22px;
  font-weight: bold;
  color: #3f4243;
  margin-bottom: 20px;
  padding: 10px 0;
}
.main__contenedor-contact .telephone {
  color: #0966d3;
  font-size: 35px;
}
.main__contenedor-contact .telephone:hover {
  color: black;
}
.main__contenedor-contact .whatsapp {
  color: #0966d3;
  font-size: 35px;
}
.main__contenedor-contact .whatsapp:hover {
  color: #14b8a6;
}
.main__contenedor-contact .envelope {
  color: #0966d3;
  font-size: 35px;
}
.main__contenedor-contact .envelope:hover {
  color: red;
}

.applicattion {
  display: flex;
  flex-direction: column;
}
.applicattion h2 {
  font-size: 22px;
  font-weight: bold;
  color: #3f4243;
  margin: 20px 0;
}
.applicattion__data {
  width: 400px;
  text-decoration: none;
  padding: 2px 1px;
  border: 2px solid black;
  border-radius: 5px;
  outline: 0;
  margin-bottom: 10px;
  padding-left: 5px;
}
.applicattion input {
  transition: all 1s;
}
.applicattion input:focus {
  border: 2px solid #0966d3;
  background-color: azure;
  width: 450px;
}
.applicattion button {
  border: none;
  font-weight: bold;
  background-color: white;
  letter-spacing: 1px;
  padding: 2px 1px;
  border-radius: 5px;
  border: 2px solid #0966d3;
  width: 100px;
  outline: 0;
}

@media (max-width: 1200px) {
  .applicattion button {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .main__contenedor-contact {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main__contenedor-information {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .main__contenedor .telephone,
  .main__contenedor .whatsapp,
  .main__contenedor .envelope {
    font-size: 25px;
  }
  .applicattion__data {
    width: 330px;
  }
}
@media (max-width: 320px) {
  .applicattion__data {
    width: 300px;
  }
}
.main__container {
  display: block;
  background-color: #ebebe8;
  border-radius: 15px;
  border: solid 1px rgba(235, 235, 232, 0.8156862745);
  width: 40%;
  height: 100%;
  padding: 15px;
  margin-top: 60px;
  margin-left: auto;
}
.main__container-title {
  font-size: 20px;
  font-weight: bold;
  color: #3f4243;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0;
}
.main .main__section {
  display: flex;
  align-items: center;
}
.main .main__section-description {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}
.main .main__section-img {
  display: inline;
  height: 5%;
  width: 40%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}
.main__video {
  margin-right: 500px;
  margin-top: -400px;
  float: right;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.titles {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.news__section {
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 800px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}
.news__section .news__title {
  color: #0966d3;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.news__section__content {
  margin: 20 0;
  font-size: 14px;
}
.news__section__video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.news__section__video .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.news__section .news__image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 20px;
}
.news__section-container {
  max-width: 300px;
}
.news__section-container .twitter-container .twitter-tweet {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .main__video {
    width: 50%;
    height: auto;
    margin-right: 0;
    margin-top: 0;
    float: none;
  }
}
@media screen and (min-width: 1200px) {
  .main__container {
    width: 30%;
  }
  .main__video {
    width: 680px;
    height: 400px;
    margin-right: 500px;
    margin-top: -400px;
    float: right;
  }
  .main__img {
    width: 30%;
  }
  .news__section {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .news-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .news-container .twitter-tweet {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  .news-container .twitter-tweet p {
    margin: 0;
  }
  .main__video {
    margin-right: 0;
    margin-top: 0;
    float: none;
  }
  .titles {
    text-align: center;
  }
  .main__container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .main__img {
    width: 100%;
  }
  .news__section {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 18px;
  }
  .news__content {
    font-size: 13px;
  }
  .news__video {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
  }
  .news__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 320px) {
  .titles {
    text-align: center;
  }
  .main__container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .news__section {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 18px;
  }
  .main__video {
    margin-top: 20px;
  }
}
.title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.technology__title {
  font-size: 25px;
  font-weight: bold;
  color: #3f4243;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 5px;
}

.technology__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.technology__cards .letter {
  background-color: #ebebe8;
  border-radius: 10px;
  border: 1px solid #0966d3;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  transition: all 0.5s;
}
.technology__cards .letter:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(15px);
}
.technology__cards .letter__image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}
.technology__cards .letter__title {
  font-size: 14px;
  color: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: left;
}
.technology__cards .letter__price {
  font-size: 22px;
  color: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
}

@media (min-width: 1200px) {
  .technology__cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .delivery__information {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .delivery {
    display: flex;
  }
  .delivery__information {
    font-size: 13px;
  }
  .technology__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .technology__cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 320px) {
  .technology__cards {
    grid-template-columns: 1fr;
  }
}
.carousel-image {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.delivery {
  background: radial-gradient(at center center, rgb(72, 72, 72) 0%, rgb(0, 0, 0) 100%) !important;
  height: 50px;
  margin: 0 auto;
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.delivery__information {
  margin: 5px;
  padding-left: 3px;
  font-size: 17px;
  color: white;
}

.products__title {
  font-size: 25px;
  font-weight: bold;
  color: #3f4243;
  margin-bottom: 20px;
  padding: 10px 5px;
}
.products__cards {
  display: grid;
  grid-template-columns: 2fr;
  gap: 50px;
}
.products .card__header {
  background-color: #ebebe8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
}
.products .card__header:hover {
  transform: translateY(15px);
}
.products .card__header-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}
.products .card__header-title {
  font-size: 16px;
  color: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
}
.products .card__header-price {
  font-size: 22px;
  color: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
}

@media (min-width: 1200px) {
  .delivery__information {
    font-size: 16px;
  }
  .products__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .delivery {
    display: flex;
  }
  .delivery__information {
    font-size: 13px;
  }
  .products__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
