.form {
    @extend .container;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 5px;
    

    &__title {
    font-size: 22px;
    font-weight: bold;
    color: $secondary;
}
    &__email {
     width: 400px;
     text-decoration: none;
     padding: 2px 1px;
     border: 2px solid black;
     border-radius: 5px;
     outline: 0;
     padding-left: 5px;
     margin-bottom: 10px;    
}
    input:hover {
    border: 2px solid  #0966d3;
    transition: $transition;
    }
    
    button {
    border: none;
    font-weight: bold;
    background-color: white;
    letter-spacing: 1px;
    padding: 2px 1px;
    border-radius: 5px;
    border: 2px solid  #0966d3;
    width: 150px;
    outline: 0;
    }
}

@media (max-width: $bpMedium) {
    .form__email {
     width: 330px;
    }
}

@media (max-width: $bpSmall) {
    .applicattion__data {
     width: 300px;
    }
}