.header {
  background: $bgDark;
  padding: 5px 10px;
}

#btn_menu {
  display: none;
}

header label {
  display: none;
  width: 1.87em;
  padding: 0, 937em;
  height: 1, 87em;
  position: fixed;
}

header label:hover {
  cursor: pointer;
}

@media (min-width: $bpLarge) {
  .logonav {
    display: flex;
    justify-content: end;
    margin-top: 30px;
  }

  header li {
    display: inline-flex;
    padding-left: 10px;
  }
}

@media (max-width: $bpLarge) {
  .logonav {
    display: flex;
    justify-content: end;
    margin-top: 30px;
  }

  header li {
    display: inline-flex;
    padding-left: 10px;
  }
}

@media (max-width: $bpMedium) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  header label {
    display: block;
    position: relative;
    top: 70px;
  }

  .menu {
    position: absolute;
    top: 125px;
    right: -10px;
    background: $bgDark;
    width: 11.25em;
    margin-right: -11.25em;
    padding-top: 10px;
    padding-right: 20px;
    transition: all 0.5s;
    z-index: 1;
  }


  #btn_menu:checked~.menu {
    margin: 0;
  }

}

@media (max-width: $bpSmall) {

  header label {
    display: block;
    position: relative;
    right: 60px;
    top: 90px;
  }

}