.header{
    background: $bgDark;
    padding: 5px 10px;
    
    &__networks {
        padding-top: 15px;
        height: 40px;
        display: flex;  
        flex-direction: row;
        justify-content: flex-end;
        
        &-icons{
          padding: 0 10px;
      }
        
    }

        &__container{
         @extend .container;
         display: flex;
         justify-content: space-between; 
         align-items: center;

        a img{
            margin: 10px 0;  
        }

        &-navbar {
            display: flex;

            li {
                margin:0 15px;
                transition: $transition;
               
                &:active {
                 transform: scale(0.9);
                }
            }
        }

        &-navbar-mobile{
            display: none;
        }
     }
}

@media screen and (max-width: 680px) {
      .header__networks {
        justify-content:flex-end;
      }

      .logo {
        width: 100%;
        max-width: 200px;
      }
    
      .header__container {
        flex-direction: column;
      }
    
      .header__container-navbar {
        display: none;
      }
    
      .header__container-navbar li {
        margin: 0;
      }
    
      .header__container-navbar li:first-child {
        margin-top: 15px;
      }
      .header__container-navbar-mobile{
        display: flex;
        margin-left: auto;
        
      }
    }

    @media screen and (max-width: 600px) {
      
      .header__networks {
        justify-content:flex-end;
      }

      .header__container {
        flex-direction: column;
      }

      .logo {
          width: 60%;
          height: 10%;
         }
  
      .header__container-navbar {
        display: none;
      }
    
      .header__container-navbar li {
        margin: 0;
      }
    
      .header__container-navbar li:first-child {
        margin-top: 15px;
      }

      .header__container-navbar-mobile {
          display: flex;
          margin-left: auto;
      }
    }