* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/ttf/montserrat-regular.ttf) format("truetype");   
}

body {
    font-family: "Montserrat";
    
}

body{
    background:rgb(255, 255, 255) 
}

header nav {
    font-family: Montserrat;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

// extend
.container{
    max-width: 1200px;
    margin: 0 auto;
}

@mixin templateFlex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

